<h2>hls.js</h2>

<h3>Autoload</h3>

<div style="width: 600px;" plyr [plyrDriver]="hlsjsDriver1" [plyrOptions]="options" [plyrSources]="sources" [plyrPoster]="poster" (plyrInit)="plyr1 = $event" (plyrLanguageChange)="languageChanged(hlsjsDriver1, plyr1)"></div>

<h3>Load on play</h3>

<div style="width: 600px;" plyr [plyrDriver]="hlsjsDriver2" [plyrOptions]="options" [plyrSources]="sources" [plyrPoster]="poster" (plyrInit)="plyr2 = $event" (plyrPlay)="played($event)" (plyrLanguageChange)="languageChanged(hlsjsDriver2, plyr2)"></div>
